# Any dir, that starts with "_"
_*/

# compiled Python files
*.pyc
*.pyo
__pycache__/

# Visual Studio Code workspace and settings files
.vscode/
.vscode/*

# Visual Studio files
*.suo
*.user
*.userosscache
*.sln.docstates

# Vagrant
.vagrant/
.vagrant/*

# .rpm files
*.rpm

# macOS and other system files
.DS_Store
Thumbs.db

.idea/
wot/scripts/db.xml
wot/scripts/db/data.xml
wot/scripts/client/*

wot/server/database_files/*

bigworld/*

fantasydemo/*

wot/system/*
wot/gui/flash/video/*

tools/

*.old

wot/server/
fantasydemo/
bigworld/
scripts/entity_defs/
scripts/db/

*.privkey
*.pubkey
*.key

*/build_*
/simple_space/spaces/
/simple_space/sets/
/simple_space/server/
/simple_space/loginapp.pubkey
/bigworld/particles/
/bigworld/shaders/

/simple_space/
/wot/scripts/common/Lib/
/wot/scripts/common/pydev/
/wot/scripts/common/site-packages/
/wot/spaces/
/bigworld/shaders/
/.junie/
/wot/sets/